---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import

    "skins/{{ site.text_skin | default: site.data.variables.default.text_skin }}",
    // "skins/chocolate",
    // "skins/dark",
    // "skins/default",
    // "skins/forest",
    // "skins/ocean",
    // "skins/orange",

    "skins/highlight/{{ site.highlight_theme | default: site.data.variables.default.highlight_theme }}",
    // "skins/highlight/tomorrow",
    // "skins/highlight/tomorrow-night",
    // "skins/highlight/tomorrow-night-eighties",
    // "skins/highlight/tomorrow-night-blue",
    // "skins/highlight/tomorrow-night-bright",


    "common/variables",
    "common/function",
    "common/classes",
    "common/reset",
    "common/print",
    "common/components/button",
    "common/components/image",
    "common/components/card",
    "common/components/gallery",
    "common/components/hero",
    "common/components/menu",
    "common/components/modal",
    "common/components/toc",
    "common/components/item",
    "common/components/swiper",

    "animate/fade-in",
    "animate/fade-in-down",
    "animate/fade-in-up",

    "components/main",
    "components/header",
    "components/footer",
    "components/article-list",
    "components/article-info",
    "components/article-header",
    "components/article-content",
    "components/article-footer",
    "components/author-links",
    "components/author-profile",
    "components/tags",
    "components/search",
    "components/lightbox",
    "components/extensions",


    "additional/alert",
    "additional/tag",
    "additional/photo-frame",

    "layout/base",
    "layout/page",

    "layout/article",
    "layout/articles",
    "layout/archive",
    "layout/home",
    "layout/landing",
    "layout/404",

    "custom"
;
@media screen and (max-width: 768px) {
    .product-container {
        width: 100%;
        font-size:13px;
		padding-right: 10px;
		margin: 10px; /* 상품 컨테이너 내부에서 마진 설정 */
    }
    
    .product-container a { /* 상품 제목 선택자 */
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 표시할 줄 수 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px; /* 원하는 폰트 크기 */
    }

    .product-image-container {
        /* Adjust these values as needed */
        width: 100%;
        padding-top: 5px; /* 이미지와 제목 사이의 간격을 위한 패딩 추가 */
    }
}

h1 {
    font-size: 1.8em; /* 기본 글꼴 크기 */
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em; /* 중간 화면에서의 글꼴 크기 */
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.3em; /* 작은 화면에서의 글꼴 크기 */
    }
}

h5 {
    font-size: 1em; /* 기본 글꼴 크기 */
}

@media screen and (max-width: 768px) {
    h5 {
        font-size: 0.9em; /* 중간 화면에서의 글꼴 크기 */
    }
}

@media screen and (max-width: 480px) {
    h5 {
        font-size: 0.9em; /* 작은 화면에서의 글꼴 크기 */
    }
}
